<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Art_Gallery_Management.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-6VLO37E;User ID=orcl;Password=oppai;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>